@import url("https://fonts.googleapis.com/css2?family=Comfortaa&display=swap");

body {
  height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  font-family: "Comfortaa", sans-serif;
}
html body {
  background-color: #323437 !important;
  transition: all 0.3;
}
nav {
  display: flex;
  position: fixed;
  top: 12vh;
  align-items: center;
  transition: all 0.5s;
}
.title {
  color: rgb(192, 192, 192);
  user-select: none;
  font-family: "Comfortaa", sans-serif;
  transition: all 0.5s;
}
.logo-image {
  aspect-ratio: 1/1;
  user-select: none;
  width: 90px;
}
.settings-image,
.keyboard-image {
  aspect-ratio: 1/1;
  user-select: none;
  width: 22px;
  margin-left: 13px;
  opacity: 0.3;
  cursor: pointer;
  transition: all 0.2s;
}
.settings-image:hover,
.keyboard-image:hover {
  opacity: 0.9;
}
@media only screen and (max-width: 600px) {
  nav {
    position: fixed;
    top: 1vh;
  }
}

@media only screen and (max-width: 520px) {
  .title {
    display: none;
  }
}

@media only screen and (max-height: 820px) {
  nav {
    position: fixed;
    top: 3pt;
  }
}
