@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');

.letter-input{
    position: absolute;
    background-color: rgba(255, 255, 255, 0.635);
    border: none;
    height: 35px;
    caret-color: rgba(255, 255, 255, 0);
    font-family: 'Comfortaa', sans-serif;
    font-size: xx-large;
    padding: 0;
    margin: 0;
    opacity: 0%;
    cursor: default;
    top: 750px;
}
.words-amount-option{
    border: none;
    background-color: rgba(255, 255, 255, 0);
    font-family: 'Comfortaa', sans-serif;
    cursor: pointer;
    font-size: 1em;
}
.selected{
    color: rgb(0, 132, 255);
}