body{
    background-color: #323437;
}
.app{
    
}
.summary{
    position: absolute;
}
.typing-area{

}
.words-amount-selection{
    margin-bottom: 30pt;
    padding: 0;
}
.words-amount-selection > button{
    padding: 0px;
}
.hide{
    visibility: hidden;
}
