
@import 'bootstrap/dist/css/bootstrap.min.css';

.container{
    position: relative;
    top: 5vh;
}
.main-content{
    margin-top: 14vh;
}
.summary{
    position: absolute;
}
.words-amount-selection{
    margin-bottom: 30pt;
    padding: 0;
}
.words-amount-selection > button{
    padding: 0px;
}
.hide{
    visibility: hidden;
}
.restart-div{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.loading-div{
    display: flex;
    justify-content: center;
    align-items: center;
}
.restart-image{
    opacity: .5;
    scale: .8;
    cursor: pointer;
    transition: all .5s ease-out;
    user-select: none;
}
.restart-image:hover{
    transform: rotate(-90deg);
    user-select: none;
    opacity: .5;
}
.restart-hint{
    display: inline;
    color: rgba(0, 132, 255);
    opacity: .5;
    transition: .5s all;
    font-family: "Comfortaa", sans-serif;
    user-select: none;
}

.invisible{
    opacity: 0;
}