@import 'bootstrap/dist/css/bootstrap.min.css';


.container{
    position: relative;
    top: 5vh;
}
.sound-buttons{
    display: flex;
    gap: 1vw;
}

.btn-primary{
    background-color: rgb(0, 132, 255) !important;
}
.btn-outline-primary{
    border-color: rgb(0, 132, 255) !important;
    color: rgb(0, 132, 255) !important;
}
.btn-outline-primary:hover{
    background-color: rgb(0, 132, 255) !important;
    color: rgb(192, 192, 192) !important;
}
.settings-btn:hover{
    transform: translateY(-4px);
    box-shadow: 0 0.5em 0.5em -0.4em rgb(0, 132, 255);
}

.sound-buttons>.active{
    background-color: rgba(0, 132, 255, 0.784);
    color: rgb(192, 192, 192) !important;
}
h3{
    color: rgb(192, 192, 192);
}