@import url("https://fonts.googleapis.com/css2?family=Comfortaa&display=swap");
.container{
    align-items: baseline;
}
.summary-text {
  color: rgb(0, 132, 255);
  font-family: "Comfortaa", sans-serif;
}
.gross-wpm {
  color: rgb(192, 192, 192) !important;
}
.crown-icon {
  aspect-ratio: 1/1;
  width: 32px;
  align-self: baseline;
}
.pb {
  color: rgb(192, 192, 192);
}
.net-wpm {
  display: flex;
  align-items: baseline;
  gap: 3pt;
}
.stats{
border: 1px solid rgb(0, 132, 255);
border-radius: 5px;
padding: 3%;
}
.stats-item {
  color: rgb(192, 192, 192) !important;
}
